input {
  border: 1px solid #e1b4eb;
  border-radius: 2em 2em;
  padding: 10px 12px;
  width: 101%;
  line-height: 2em;
  margin: 15px auto;
  background: white;
}
h1 {
  font-size: 15px;
  opacity: 0.9;
  position: relative;
  top: -50px;
  left: -10px;
}
h2 {
  font-size: 20px;
  opacity: 0.9;
  position: relative;
  top: -1px;
  left: 525px;
}
p {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  position: relative;
  top: -75px;
  left: -25px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  position: relative;
  top: -25px;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 500px;
  height: 19px;
  line-height: 1;
  list-style: none;
}
button:hover {
  background: #fff;
  cursor: pointer;
}
.container {
  border: 2px solid #a42db9;
  border-radius: 25px;
  width: 650px;
  padding: 15px;
  margin: 100px 400px;
}

.weather {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  position: relative;
  left: 250px;
  top: 18px;
}
.units {
  font-size: 15px;
  position: relative;
  top: 5px;
  left: 250px;
}
.citty {
  font-size: 33px;
  margin-top: 20px;
  font-weight: bold;
}
.hm,
.wd {
  color: #0b2bdf;
  font-size: 15px;
  font-weight: bold;
}
.btn {
  border: 1px solid #af4bc5;
  background: #b60bdc;
  color: #fff;
  border-radius: 2em 2em;
  padding: 10px 12px;
  width: 101%;
  line-height: 2em;
  margin: 15px auto;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}
.hum,
.wdd {
  position: relative;
  top: -25px;
}
.git,
.netlify {
  text-decoration: none;
}
#description {
  position: relative;
  top: -55px;
  left: 250px;
}

#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
