body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input {
  border: 1px solid #e1b4eb;
  border-radius: 2em 2em;
  padding: 10px 12px;
  width: 101%;
  line-height: 2em;
  margin: 15px auto;
  background: white;
}
h1 {
  font-size: 15px;
  opacity: 0.9;
  position: relative;
  top: -75px;
  left: -2px;
}
h2 {
  font-size: 20px;
  opacity: 0.9;
  position: relative;
  top: -1px;
  left: 525px;
}
p {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  position: relative;
  top: -80px;
  left: -25px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
  position: relative;
  top: -15px;
}

li {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500px;
  height: 19px;
  line-height: 1;
  list-style: none;
}
button:hover {
  background: #fff;
  cursor: pointer;
}
.container {
  border: 1px solid #e5cee9;
  border-radius: 20px;
  width: 650px;
  padding: 15px;
  margin: 100px 400px;
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

.temp {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  right: 200px;
  top: 120px;
}
.units {
  font-size: 18px;
  position: relative;
  top: 75px;
  right: 210px;
}
.citty {
  font-size: 33px;
  font-weight: bold;
}
.humidity,
.wind {
  color: #0b2bdf;
  font-size: 15px;
  font-weight: bold;
}
.current-button {
  border: 1px solid #af4bc5;
  background: #cb22d7;
  color: #fff;
  border-radius: 2em 2em;
  padding: 10px 12px;
  width: 101%;
  line-height: 2em;
  margin: 15px auto;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}
.hum,
.wnd {
  position: relative;
  top: -20px;
  left: 480px;
}
.git,
.netlify {
  text-decoration: none;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.icon {
  position: relative;
  size: 50px;
  top: 100px;
  left: 50px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  width: 600px;
  padding: 50px;
  margin-top: 5px;
  font-size: 18px;
}
#description {
  position: relative;
  top: 35px;
  left: 300px;
  font-weight: bold;
  font-size: 30px;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}
